---
import Card from "./Card.astro";
---

<section class="cards">
  <ul>
    <header>
      <h2 class="text-white p-4 text-2xl font-bold bg-gray-900">Focus</h2>
    </header>
    <div class="grid grid-cols-5 mx-auto">
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
    </div>
  </ul>
  <ul>
    <header>
      <h2 class="text-white p-4 text-2xl font-bold bg-gray-900">Spotify Playlists</h2>
    </header>
    <div class="flex mx-auto">
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
      <Card title="Peaceful Piano" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit" link="/grafik.html" />
    </div>
  </ul>
</section>

<!-- <style>
  header {
    color: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(30%, 200px, 100%), 1fr));
    gap: 1rem;
  }
</style> -->
