---
import Button from "./Button.astro";
---

<footer class="text-white flex p-3 fixed bottom-0 justify-between">
  <div class="my-auto">
    <p class="text-xs">PREVIEW OF SPOTIFY</p>
    <p>Sign up to get unlimited songs and podcasts width occasional ads. No credit card needed</p>
  </div>

  <Button variant="primary" link="/courses">Sign up for free</Button>
</footer>

<style>
  footer {
    background: linear-gradient(90deg, #af2896, #509bf5);
    width: 100%;
  }
</style>
