---
import "../styles/tokens.css";
import "../styles/base.css";
const { titel, imgPath, description, price, discount1, discount2, discount3, shipping, newBadge, link } = Astro.props;
---

<div class="gradient">
  <div class="w-[1280px] mx-auto">
    <!-- <img class="h-20" src="/imgs/faraoslogo.png" alt="Faraos Logo" /><a href="/"></a> -->
    <div class="">
      <ul class="">
        <div class="grid">
          <a class="hover:scale-110 footerhead" ' href="/about">Butikker</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
        </div>
        <div class="grid">
          <a class="hover:scale-110 footerhead" ' href="/about">Kundeservice</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
        </div>
        <div class="grid">
          <a class="hover:scale-110 footerhead" ' href="/about">Services</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
        </div>
        <div class="grid">
          <a class="hover:scale-110 footerhead" ' href="/about">Om Faraos</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
          <a class="footerpara" href="">KØBENHAVN COMICS & POTTER</a>
        </div>
      </ul>
      <div class="marginb">
        <div class="grid grid-cols-3">
          <div class="nyhedsbrev">
            <a class="hover:scale-110 footerhead" href="/about">Tilmeld dig nyhedsbrevet</a>
            <p class="footer">Tilmeld dig vores nyhedsbrev med konkurrencer, tilbud og nyheder. Du vælger selv, hvad du vil have nyt om.</p>
            <div class="flex">
              <div class="buttonsocial1 flex">
                <a href={link} data-variant={"primary"}>
                  <p>Nyhedsbrev</p>
                </a>
              </div>
            </div>
          </div>
          <div class="grid col-start-3">
            <div class="social">
              <a class="hover:scale-110 footerhead" href="/about">Følg os her</a>
              <p>Alt det nye om konkurrencer, events, tilbud og produkter. Følg os i dag, så er du altid opdateret.</p>
            </div>
            <div class="flex social">
              <div class="buttonsocial flex">
                <img class="h-6 mr-2" src="imgs/facebook.png" alt="" />
                <a href={link} data-variant={"primary"}>
                  <p>Facebook</p>
                </a>
              </div>
              <div class="buttonsocial flex">
                <img class="h-6 mr-2" src="imgs/twitter.png" alt="" />
                <a href={link} data-variant={"primary"}>
                  <p>Twitter</p>
                </a>
              </div>
              <div class="buttonsocial flex">
                <img class="h-6 mr-2" src="imgs/instagram.png" alt="" />
                <a href={link} data-variant={"primary"}>
                  <p>Instagram</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 justify-between downfooter">
      <div class="text-center my-auto">
        <p>Faraos Cigarer Aps</p>
      </div>
      <div class="my-auto mx-auto">
        <div class="flex gap-3">
          <img class="h-6" src="imgs/location.png" alt="" />
          <div class="grid">
            <p>Skindergade 27</p>
            <p>1159 København K</p>
          </div>
        </div>
      </div>
      <div class="text-center my-auto mx-auto">
        <div class="flex gap-3 mb-2">
          <img class="w-6" src="imgs/phone.png" alt="" />
          <p>33 32 22 11</p>
        </div>
        <div class="flex gap-3">
          <img class="w-6" src="imgs/mail.png" alt="" />
          <p>faraos@faraos.dk</p>
        </div>
      </div>
      <div class="ml-10">
        <img class="w-50" src="imgs/emaerket.png" alt="" />
        <div class="flex">
          <img class="w-9" src="imgs/visa.png" alt="" />
          <img class="w-9" src="imgs/visaelectron.png" alt="" />
          <img class="w-9" src="imgs/mastercard.png" alt="" />
          <img class="w-9" src="imgs/faktura.png" alt="" />
          <img class="w-9" src="imgs/dankort.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .downfooter {
    color: var(--secondaryTekstColor);
  }
  .marginb {
    margin-top: var(--5xl);
    margin-bottom: var(--7xl);
  }
  .social {
    margin-top: var(--2xl);
  }

  .nyhedsbrev {
    margin-top: var(--2xl);
  }
  .gradient {
    background: var(--gradientBgColor);
    padding-bottom: var(--lg);
    padding-top: var(--lg);
  }

  .footerhead {
    font-family: var(--fontComic);
    font-weight: var(--fontSemibold);
    font-size: var(--xl);
    margin-bottom: var(--xl);
  }
  ul {
    display: flex;

    justify-content: space-around;
  }

  .footerpara {
    font-family: var(----fontRoboto);
    font-weight: ;
    line-height: var(--tertiaryLineHeight);
    font-size: var(--fontSm);
    color: var(--secondaryTekstColor);
  }

  .buttonsocial {
    margin-right: 10px;
    background-color: var(--ctaPrimaryBgColor);
    padding-left: var(--lg);
    padding-right: var(--3xl);
    padding-top: var(--sm);
    padding-bottom: var(--sm);
    border-radius: var(--ctaPrimaryBorderRadius);
    color: var(--ctaTertiaryBgColor);
    font-family: var(--fontRoboto);
    font-size: var(----baseFontSize);
  }

  .buttonsocial1 {
    margin-top: var(--2xl);
    background-color: var(--ctaPrimaryBgColor);
    padding-left: var(--lg);
    padding-right: var(--lg);
    padding-top: var(--sm);
    padding-bottom: var(--sm);
    border-radius: var(--ctaPrimaryBorderRadius);
    color: var(--ctaTertiaryBgColor);
    font-family: var(--fontRoboto);
    font-size: var(----baseFontSize);
  }
</style>
